* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#main-header {
  width: 100%;
}
.navbar {
  height: 60px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  height: 60px;
  width: 140px;
}
.logo {
  height: 55px;
  width: 140px;
  background-image: url("logo/Amazon-Logo.webp");
  background-size: cover;
}
.border {
  border: 1.2px solid transparent;
  /* height: 57px; */
}
/* .border:hover {
  border: 1.2px solid white;
  border-radius: 4px;
} */
.borderhover:hover {
  border: 1.2px solid white;
  border-radius: 4px;
}
.dflex_header_icon {
  display: flex;
  align-items: center;
}
.nav-location {
  display: flex;
  align-items: center;
}
/* .add-icon img {
  margin-top: 15px;
} */
.adress {
  margin-top: 0;
}
.add-first {
  font-size: 0.7rem;
}
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 900px;
  height: 40px;
  border-radius: 3px;
}
.nav-search:hover {
  border: 2px solid orange;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border-top: 3px;
  border-bottom: 3px;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(227, 201, 27, 0.767);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nav-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-first {
  font-size: 0.7rem;
}
.nav-second {
  font-size: 0.86rem;
  font-weight: 700;
}
.nav-return {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-rtn1 {
  font-size: 0.7rem;
}
.nav-rtn2 {
  font-size: 0.86rem;
  font-weight: 700;
}
.cart-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.panel {
  background-color: #222f3d;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 15px;
}
.panel-all {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 1rem;
  font-weight: 700;
}
.panel img {
  filter: invert(1);
}
.panel-all p {
  margin: 0 20px;
}
.panel-all p:nth-child(1) {
  margin-left: 0;
}

.panel-deals {
  font-size: 1rem;
  font-weight: 700;
  width: 50%;
  text-align: right;
}
.hero-section {
  background-image: url("images/pic-10.jpg");
  height: 350px;
  width: 100;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  position: relative;
  bottom: 25px;
  margin-bottom: 20px;
}
.hero-msg a {
  color: #007185;
}
.shop-section-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(219, 207, 137);
  flex-wrap: wrap;
}
.box {
  height: 400px;
  width: calc(25% - 44px);
  background-color: white;
  border: 2px solid whitesmoke;
  display: inline;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 0 20px;
  padding: 20px;
  box-sizing: border-box;
}
.box1 h2 {
  padding-top: 10px;
}
.box1 img {
  padding-top: 12px;
}
.box1 p {
  margin-top: 10px;
}
.box2 h2 {
  padding-top: 10px;
}
.box2 img {
  padding-top: 12px;
}
.box2 p {
  margin-top: 10px;
}
.box3 h2 {
  padding-top: 10px;
}
.box3 img {
  padding-top: 12px;
}
.box3 p {
  margin-top: 10px;
}
.box4 h2 {
  padding-top: 10px;
}
.box4 img {
  padding-top: 12px;
}
.box4 p {
  margin-top: 10px;
}
.shop-section-2 {
  height: 350px;
  width: 100%;
  margin-top: 20px;
  background-image: url("images/pic-11.jpg");
  background-size: cover;
}
.new-coustomer {
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p1 {
  padding-left: 52px;
  font-size: 0.8rem;
}
.details-coustomer button {
  height: 30px;
  width: 300px;
  background-color: orange;
  border: 2px solid rgb(238, 192, 108);
  border-radius: 3px;
  font-size: 0.86rem;
  font-weight: 700;
}
.shop-section-1 h2 {
  font-size: 20px;
}
.shop-section-1 p {
  margin-top: 20px;
  margin-left: 10px;
}
.p2 {
  text-align: center;
  font-size: 0.8rem;
}
.details-coustomer a {
  color: grey;
}
.back-top {
  height: 50px;
  width: 100%;
  background-color: #222f3d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-ftr-container {
  width: 100%;
  max-width: 1280px;
  padding: 50px 0;
  margin: auto;
}
.section_footr {
  background-color: #343e4a;
}
.imgProduct {
  width: 100%;
  height: 300px;
  margin: auto;
}
.imgProduct img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-container {
  /* height: 400px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343e4a;
}
.footer-details {
  /* height: 320px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-details h2 {
  font-size: 0.96rem;
  font-weight: 900;
  color: white;
}
.footer-details li {
  line-height: 25px;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
}
.footer-item-1 {
  /* height: 310px; */
  width: 135px;
}
.footer-item-2 {
  /* height: 310px; */
  width: 70px;
}
.footer-item-3 {
  /* height: 310px; */
  width: 180px;
}
.footer-item-4 {
  /* height: 310px; */
  width: 70px;
}
.footer-item-5 {
  /* height: 310px; */
  width: 220px;
}
.footer-item-6 {
  /* height: 310px; */
  width: 70px;
}
.footer-item-7 {
  /* height: 310px; */
  width: 150px;
}
.footer-two {
  height: 100px;
  width: 99.9%;
  display: flex;
  background-color: #343e4a;
  align-items: center;
}
.footer-logo {
  align-items: center;
}
.footer-two-item {
  display: flex;
  align-items: center;
  padding-left: 80px;
}
.item-comn {
  display: flex;
  border: 1px solid wheat;
  height: 35px;
  width: 150px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-left: 15px;
  color: white;
  font-size: 0.85rem;
  font-weight: 700;
}
.container_lastfooter {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
.sectionlast {
  border: 0.5px solid rgb(116, 110, 110);
}
.footerLogo_last {
  width: 40%;
  text-align: right;
  margin-right: 100px;
}
.footer-two-item {
  width: 60%;
}
.navbar.mobileBar {
  display: none;
}
